.cache/
build/
cbuild
cbuild.exe
cbuild.old
cbuild.exe.old
compile_commands.json
*.d
*.o
*.obj
*.sig
*.link.sig
*.log
/tests/api_smoke
/tests/api_smoke.exe
/tests/regress work/
.DS_Store
/tests/api_smoke_split
/tests/api_smoke_split.exe
/tests/amalgamate
/tests/amalgamate.exe
/tests/split-build/
